#nav-wrap > .toggler {
  display: none;
}

.logo {
  width: 100px;
  position: absolute;
  top: 0.5rem;
  left: 3rem;
}

.navbar {
  display: flex;
  justify-content: flex-end;
  padding: 5px 10px 0px 0px;
}

/* nav-wrap */
#nav-wrap {
  font: 12px 'opensans-bold', sans-serif;
  width: 100%;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  margin: 0 auto;
  z-index: 100;
  position: fixed;
  left: 0;
  top: 0;
}

.opaque {
  background-color: #333;
}

/* hide toggle button */
#nav-wrap > a.mobile-btn {
  display: none;
}

.nav {
  min-height: 40px;
  width: auto;
  text-align: center;
  margin-bottom: 0px;
  margin-top: 0px;

  & li {
    position: relative;
    list-style: none;
    display: inline-block;
  }
}
